header {
	background: #696969;
	min-height: 50px;
	padding: 20px 40px 20px 20px;
	position: relative;

}

.btn-cart {
	width: 140px;
	height: 50px;
	background: #D3D3D3;
	font-size: 20px;
	float: right;
	cursor: pointer;
}

.products {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px;
}

.product-item {
	border: 1px solid #DCDCDC;
	padding: 5px;
}

p {
	font-size: 22px;
	margin: 20px 0; 
}

.by-btn {
	width: 110px;
	height: 40px;
	background: #32CD32;
	font-size: 16px;
	cursor: pointer;
}

